input:focus::placeholder {
  color: transparent;
}

button:hover {
  opacity: 0.7;
}

button {
  outline: none;
  border-radius: 10px;
  font-size: 16px;
}

.page-border {
  border-bottom: 5px solid orange;
}

@media screen and (max-width: 767px) {
  .page-border-top {
    border-top: 2px solid rgb(235, 179, 133);
  }
}

.menu__icon {
  width: 30px;
}

@media screen and (max-width: 767px) {
  .menu__icon {
    width: 5px;
  }
}

@media screen and (max-width: 767px) {
  button:hover {
    opacity: 1;
  }
}
